$spaces: (0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2, 2.25, 2.5, 2.75, 3); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaces {
    $i: index($spaces, $space);
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$i} {
            margin-#{$side}: #{$space}rem !important;
        }

        .p#{str-slice($side, 0, 1)}-#{$i} {
            padding-#{$side}: #{$space}rem !important;
        }
    }
}

@each $space in $spaces {
    $i: index($spaces, $space);

    .m-#{$i} {
        margin: #{$space}rem !important;
    }

    .p-#{$i} {
        padding: #{$space}rem !important;
    }

}

.mb-0 {
    margin-bottom: 0 !important;
}

//.p-2 {
//    padding: 2rem !important;
//}

.is-sidebar-menu {
    padding: 2.5rem !important;
    background-color: $slate-800;
    li {
        a {
            color: $white;
        }
    }
}

.navbar-text {
    outline: none;
    &:active {
        text-decoration: none;
        background-color: transparent !important;
        //color: #000 !important;
    };
    &:focus {
        text-decoration: none;
        //color: #fff !important;
        background-color: transparent !important;
    };
    &:visited {
        text-decoration: none;
        background-color: transparent !important;
        //color: #000;
    };
    &:hover {
        text-decoration: none;
        //color: #fff !important;
        background-color: transparent !important;
    }
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-end {
    justify-content: end !important;
}

.items-center {
    align-items: center !important;
}

.content-center {
    align-content: center !important;
}

.grow-1 {
    flex-grow: 1;
}

.card-hover {
    &:hover {
        background-color: $blue-100;
        cursor: pointer;
    }
}

$navbar-height: 3.25rem;

.columns {
    &.is-fullheight {
        min-height: calc(100vh - (#{$navbar-height}));
        max-height: calc(100vh - (#{$navbar-height}));
        height: calc(100vh - (#{$navbar-height}));
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        .column {
            overflow-y: auto;
        }
    }
}

.is-main-content {
    background-color: $gray-100;
}

.show-overflow {
    overflow: visible !important;
}
